/* Estilização do formulario da sapataria */

.contorno-form{
    display: flex;
    justify-content: center;
}

.form-flex{
    display: flex;
    justify-content: center;
     width: 30%;
     

    
}

.info-flex{
    display: flex;
    flex-direction: column;
   
     
 

}

.info-flex label{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

