/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@font-face {
    font-family: 'font-paragrafo-bold';
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'font-titulo-bold';
    src: url(assets/fonts/TitilliumWeb-Bold.ttf);
}

/* reset da pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* configurações genericas que vai fazer o conteudo ficar preso no site */

.container-grid {
    width: 90%;
    margin: 0 auto;
    /* max width quanto maior o numero mais proximo fica da borda */
    max-width: 1920px;
}

/* começando a estilização do header */
/* realizar scroll mais suave na minha pagina html */
html {
    /* quando clica no link com a ID ele desce mais suave */
    scroll-behavior: smooth;

}

header {
    background-color: #4e53d4;
    height: 90px;


}

/* header flex é respnsável pela organização dos componetes do header deixa na horizontal */
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Sempre colocar border para ver o tamanho da largura */
/* realiza o espaçamento dos links e deixa os mesmos na horizontal */
.nav-links {
    display: flex;
    

    justify-content: space-evenly;
    width: 550px;



}

/* realiza a estilização dos itens da nossa header */
.links-header .nav-links a {
    /* realiza a remoçaõ do sublinhado dos links */
    text-decoration: none;
    color: white;
    font-family: font-paragrafo-bold;
    font-size: 20px;
    /* realiza o espaçamento interno dos links */
    letter-spacing: 1px;
}

/* efeito de qaundo passa o mouse sobre os links o mesmo de cor para o de preto */
.links-header .nav-links a:hover {
    color: black;
    /* tempo para realizar a mudança de cor */
    transition: 0.2s;

}

/* remove a estilização que vem por padrão nos links da ul li */
.links-header .nav-links li {
    /* remove as bolinha laterais */
    list-style: none;
    text-decoration: none;

}


/* realiza a estilização do input search dentro do header declarando as fontes, as brodas e a largur e altura */
.input-search input {
    width: 387px;
    height: 41px;
    border-radius: 20px;
    border: none;
    background: none;
    /* outline é a broda ao redor */
    outline: none;
    font-family: font-paragrafo-bold;
    font-size: 15px;

}

/* estilização da cor de fundo do input */
.input-search {
    background-color: white;
    border-radius: 20px;
    padding-left: 15px;

}

/* realiza o espaçamenyo dos icones e deixa os mesmos na horizontal */
.nav-icons {
    width: 180px;
    display: flex;
    justify-content: space-evenly;


}

.nav-icons li {
    list-style-type: none;

}



/* Realizar a criação do banner de fundo, utilizamos a imagem no css para realizar a estilização direta da imagem 
Estilizar o Banner Allstar e botão */
.banner {
    background-image: url(assets/img/eric-masur-AEyam8UN6NY-unsplash\ 1.png);
    height: 580px;
    background-repeat: no-repeat;
    /* Cover - A imagem Cobre toda a altura do site */
    background-size: cover;
    background-position: bottom;

}

/* Realizar a estilização de todos os componentes dentro do banner-flex  */
.banner-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;






}

/* Realizar a estilização dos componentes dentro da div banner-info */
.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 130px;
}

/* Realização a estilização titulo All Star */
.titulo-banner {
    font-family: 'font-titulo-bold';
    font-size: 40px;
    text-transform: uppercase;


}

.border-gradient {
    margin-top: 30px;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
    padding: 2px;
}

/* 
realizando as estilizações do botão, definindo altura, largura, borda e cursoralteração para todos os buttons dentyro da minha pagina, pois não definimos nehuma classe para o botão */
button {
    width: 185px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #4e53d4;
    cursor: pointer;
}

/* realizar a estilização da fonte do texto do botão */
.button-edit {

    font-family: 'font-paragrafo-bold';
    font-size: 20px;
    font-weight: bold;
    color: white;

}

/* Vamos realizar a criação dos cards da mains */
/* Plano de fundo da oferatas bloco01 */
.background-ofertas {
    background-color: #5bdbf5;
    height: 900px;
    background-image: linear-gradient(219deg, rgba(91, 219, 245, 0.60) -0.58%, #5BDBF5 36.55%, #56A6E8 49.81%, #F5B945 70.71%);
    background-position: center;
    background-size: cover;


}

.title-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;

}

.background-ofertas .news-title {
    color: white;
    font-family: 'font-titulo-bold';
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px;
    letter-spacing: 1px;

}

.background-ofertas .news-paragrafo {

    color: white;
    font-family: 'font-paragrafo-bold';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

/* Realizar estilização dos Cards */
.news-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    background-image: linear-gradient(315deg, #5BDBF5 0%, rgba(124, 208, 225, 0.36) 53.27%, #FFF 100%);
    width: 300px;
    height: 335px;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 55px;
    border-radius: 8px;
    margin-bottom: 40px;

}

.card:hover {
    box-shadow: 15px 0px 35px;

}

/* Reealiza estilização dos componentes dentro dos cards */
.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 335px;
    padding: 6px;
}

/* Reealiza estilização do h2 dentro dos cards */
.info-card h2 {
    font-family: 'font-titulo-bold';
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-size: 26px;

}

/* Reealiza estilização do p dentro dos cards */
.info-card p {
    font-family: 'font-paragrafo-bold';
    font-weight: bold;
    color: white;
    text-align: justify;


}

/* Realiza estilização do padding no h2 e p */
.info-card h2 p {
    padding: 10px;

}

/* Vamos iniciar as estilizações do Footer */

footer {
    background: linear-gradient(289deg, #7BABC3 12.82%, #F6BA45 57.3%, #F6BA45 100%);



}

/* Usando para definir altura e largura, e também utilizado para posicionar os elementos no Footer-flex */
.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 581px;
    width: 100%;



}

/* Definir estilo do itens */
article h1,
h4 {
    color: white;
    font-family: 'font-titulo-bold';
    font-size: 20px;


}



/* Realiza estilização do box-01, utilizando propriedades de alinhamento e estilizando o paragrafo  */
.box-01 {
    width: 180px;
    height: 255px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
    font-family: 'font-paragrafo-bold';
    font-size: 15px;

}

/* Realiza o espaçamento do icons dentro da box-01 */
.midia-box-footer {
    display: flex;
    justify-content: space-evenly;
    width: 180px;
    padding-top: 20px;

}

.box-02 ul {
    list-style: none;
    height: 100px;
    font-family: 'font-paragrafo-bold';
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.box-02 li a {
    color: white;
    text-decoration: none;

}

.box-02 li a:hover {
    color: black;
    transition: 0.5s;
}



/* Definindo padrão do texto do titulo de contatos */


.box-03 h4 {
    color: white;
    font-family: 'font-titulo-bold';
    font-size: 20px;
    margin-top: 10px;

}

.box-03 p {
    color: black;
    font-family: 'font-paragrafo-bold';
    font-size: 15px;

}

.input-gradient {

    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #BAC 0%, #D9D9D9 100%);



}

.box-04 button{
    height: 40px;
    width: 144px;
    background: #F5B945;
    font-family: 'font-titulo-bold';
    border-radius: 8px;
    font-size: 24px;
    color: black;
    

}

.box-04 .input-gradient input {
    color: white;
    background: transparent;
    width: 144px;
    height: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 16px;
    /* Retira a borda quando clica */
    outline: none;


}



.input-gradient{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    
}

.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 46px;

}
/* Align-self alinha o item como sendo unico */
.footer-bottom a{
    align-self: flex-end;
}

/* Pseudo class para chamar o atributo */
.box-04 input::placeholder {
    color: black;
    font-family: 'font-paragrafo-bold';
    font-size: 15px;

}
/* Alinha somente um item */
.copyright{
    color: black;
    font-family: 'font-paragrafo-bold';
    align-self: center;
}

